@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

*::selection {
  background-color: var(--selection-color);
}

html {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3% 2%;
  background-color: var(--bg-color);
}

main {
  width: 100%;
  height: 100%;
}

h1,h2,h2, h3, h5, h4,p,i,a {
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 24px;
  margin-bottom: 16px;
}

h1, h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.3rem;
}

h2 {
  font-size: 2rem;
}

h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .85em;
  color: var(--muted-text-color);
}

p, i, a, strong {
  font-family: "Lora";
  font-size: 1rem;
  margin-bottom: 16px;
  width: 100%;
  line-height: 1.5;
}

ul, ol {
  padding-left: 2em;
}

li {
  font-family: "Lora";
  font-size: 16px;
  margin-top: 0.25em;
  line-height: 1.5;
}

a {
  text-decoration: underline;
}

blockquote {
  font-family: "Playfair Display", serif;
  padding: 0 1em;
  font-size: 30px;
  font-style: italic;
  line-height: 44.4px;
  overflow-wrap: break-word;
  /* text-align: center; */
  color: var(--text-color);
  border-left: 0.3rem solid var(--border-color);
  font-weight: 800;
  padding: 0.2rem 0rem 0.2rem 0rem;
  background-color: var(--light-bg-color);
  margin-bottom: 16px;
}

blockquote > p {
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
}




code {
  font-size: 18px;
  background: var(--light-bg-color);
  border-radius: 2px;
  line-height: 22px;
  padding: 0rem 0.2rem;
  border: 1px solid var(--light-border-color);
  border-radius: 0.5rem;
  display: inline-block;
}

pre {
  white-space: pre-wrap;
  background: var(--light-bg-color) !important;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px var(--code-border-style) var(--border-color);
  margin-bottom: 12px;
}

pre > code {
  font-size: 1rem;
  color: var(--text-color);
  background: transparent !important;
  display: inline-block;
  border: none !important;
}


table { border-collapse: collapse; }

table,
th,
td {
  border: 1px solid var(--border-color);
  text-align: center;
  position: relative;
}


th,
td {
  padding: 0.5rem;
}

td {
  font-family: "Lora";
  font-size: 1rem;
}

th {
  font-family: "Lato", sans-serif;
  background-color: var(--light-bg-color);
  font-size: 1rem;
  font-weight: 700;
}

img {
  display: inline-block;
  max-width: 100%; 
  height: auto; 
  border-radius: 4px; 
  box-shadow: 0 2px 4px var(--light-border-color); 
}
